<!-- Creamos el cuerpo de la app -->
 <%- include('partials/header') %>
<%- include('partials/menu') %>

<main class="container">
  <h1>Movie App</h1>
  <p>Bienvenido a Movie App. Busca y guarda tus películas favoritas.</p>
  <div class="buttons">
    <a href="/login" class="btn">Iniciar sesión</a>
    <a href="/signup" class="btn">Registrarse</a>
  </div>
</main>

<%- include('partials/footer') %>