<%- include('partials/header') %>
<%- include('partials/menu') %>

<main class="container">
  <h1>Gestión de películas</h1>
  <button class="btn" onclick="showForm()">Crear nueva película</button>
  <div id="movies-grid"></div>
</main>

<%- include('partials/footer') %>